In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("../data/raw/housing.csv")
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [6]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

## Fill missing values

In [19]:
df['total_bedrooms']=df.total_bedrooms.fillna(df.total_bedrooms.mean())
df.total_bedrooms.to_list()

C:\Users\Thenu\AppData\Local\Temp\ipykernel_5928\3643729827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_bedrooms']=df.total_bedrooms.fillna(df.total_bedrooms.mean())

[129.0,
 1106.0,
 190.0,
 235.0,
 280.0,
 213.0,
 489.0,
 687.0,
 665.0,
 707.0,
 434.0,
 752.0,
 474.0,
 191.0,
 626.0,
 283.0,
 347.0,
 293.0,
 455.0,
 298.0,
 184.0,
 367.0,
 541.0,
 337.0,
 437.0,
 123.0,
 244.0,
 421.0,
 492.0,
 160.0,
 447.0,
 481.0,
 409.0,
 366.0,
 574.0,
 282.0,
 432.0,
 390.0,
 330.0,
 715.0,
 419.0,
 311.0,
 202.0,
 202.0,
 311.0,
 420.0,
 322.0,
 312.0,
 195.0,
 375.0,
 453.0,
 456.0,
 853.0,
 456.0,
 235.0,
 243.0,
 288.0,
 335.0,
 341.0,
 43.0,
 211.0,
 29.0,
 190.0,
 237.0,
 182.0,
 209.0,
 354.0,
 244.0,
 109.0,
 644.0,
 152.0,
 297.0,
 204.0,
 4.0,
 161.0,
 462.0,
 562.0,
 243.0,
 374.0,
 176.0,
 289.0,
 56.0,
 97.0,
 164.0,
 184.0,
 143.0,
 451.0,
 348.0,
 42.0,
 78.0,
 392.0,
 87.0,
 31.0,
 347.0,
 623.0,
 2477.0,
 1331.0,
 107.0,
 1270.0,
 1085.0,
 1414.0,
 1603.0,
 242.0,
 701.0,
 1914.0,
 225.0,
 482.0,
 460.0,
 751.0,
 855.0,
 289.0,
 1098.0,
 1196.0,
 559.0,
 428.0,
 287.0,
 1750.0,
 1105.0,
 399.0,
 454.0,
 406.0,
 54.0,
 411.0,
 574.0,
 365.0,
 1048.0,
 473.0,
 597.0,
 674.0,
 346.0,
 490.0,
 210.0,
 460.0,
 788.0,
 184.0,
 223.0,
 271.0,
 264.0,
 181.0,
 534.0,
 38.0,
 333.0,
 436.0,
 605.0,
 535.0,
 212.0,
 335.0,
 465.0,
 464.0,
 541.0,
 339.0,
 536.0,
 486.0,
 229.0,
 402.0,
 292.0,
 313.0,
 238.0,
 365.0,
 550.0,
 168.0,
 510.0,
 502.0,
 835.0,
 1065.0,
 792.0,
 469.0,
 864.0,
 492.0,
 526.0,
 188.0,
 391.0,
 606.0,
 647.0,
 228.0,
 373.0,
 398.0,
 588.0,
 289.0,
 420.0,
 749.0,
 184.0,
 414.0,
 480.0,
 299.0,
 1344.0,
 395.0,
 264.0,
 431.0,
 395.0,
 180.0,
 376.0,
 43.0,
 129.0,
 237.0,
 779.0,
 128.0,
 301.0,
 206.0,
 146.0,
 215.0,
 530.0,
 472.0,
 258.0,
 825.0,
 396.0,
 217.0,
 574.0,
 145.0,
 199.0,
 314.0,
 690.0,
 190.0,
 575.0,
 450.0,
 711.0,
 376.0,
 307.0,
 557.0,
 409.0,
 500.0,
 447.0,
 499.0,
 293.0,
 711.0,
 354.0,
 263.0,
 259.0,
 341.0,
 195.0,
 256.0,
 405.0,
 271.0,
 451.0,
 761.0,
 459.0,
 195.0,
 452.0,
 533.0,
 528.0,
 508.0,
 300.0,
 224.0,
 244.0,
 710.0,
 460.0,
 248.0,
 114.0,
 473.0,
 514.0,
 463.0,
 314.0,
 173.0,
 153.0,
 498.0,
 375.0,
 328.0,
 254.0,
 597.0,
 415.0,
 443.0,
 399.0,
 403.0,
 502.0,
 414.0,
 180.0,
 428.0,
 445.0,
 415.0,
 397.0,
 31.0,
 205.0,
 193.0,
 332.0,
 95.0,
 233.0,
 387.0,
 243.0,
 217.0,
 262.0,
 195.0,
 336.0,
 317.0,
 2048.0,
 260.0,
 746.0,
 440.0,
 322.0,
 177.0,
 128.0,
 194.0,
 397.0,
 349.0,
 342.0,
 533.0,
 367.0,
 413.0,
 358.0,
 397.0,
 261.0,
 175.0,
 452.0,
 236.0,
 257.0,
 408.0,
 282.0,
 547.0,
 471.0,
 362.0,
 391.0,
 259.0,
 510.0,
 393.0,
 207.0,
 238.0,
 132.0,
 736.0,
 370.0,
 565.0,
 189.0,
 297.0,
 212.0,
 154.0,
 253.0,
 147.0,
 291.0,
 215.0,
 293.0,
 119.0,
 874.0,
 445.0,
 134.0,
 193.0,
 371.0,
 126.0,
 226.0,
 183.0,
 391.0,
 76.0,
 218.0,
 261.0,
 263.0,
 233.0,
 214.0,
 307.0,
 320.0,
 271.0,
 248.0,
 390.0,
 514.0,
 624.0,
 211.0,
 343.0,
 307.0,
 574.0,
 286.0,
 365.0,
 231.0,
 491.0,
 261.0,
 111.0,
 105.0,
 200.0,
 54.0,
 93.0,
 666.0,
 161.0,
 256.0,
 399.0,
 178.0,
 454.0,
 131.0,
 275.0,
 277.0,
 294.0,
 140.0,
 281.0,
 287.0,
 300.0,
 181.0,
 147.0,
 223.0,
 239.0,
 238.0,
 263.0,
 422.0,
 522.0,
 349.0,
 402.0,
 1212.0,
 293.0,
 283.0,
 291.0,
 930.0,
 698.0,
 261.0,
 175.0,
 380.0,
 332.0,
 421.0,
 274.0,
 279.0,
 273.0,
 240.0,
 270.0,
 373.0,
 328.0,
 250.0,
 328.0,
 169.0,
 408.0,
 329.0,
 473.0,
 366.0,
 293.0,
 335.0,
 195.0,
 494.0,
 531.0,
 457.0,
 460.0,
 417.0,
 410.0,
 648.0,
 391.0,
 592.0,
 491.0,
 200.0,
 215.0,
 424.0,
 490.0,
 442.0,
 395.0,
 146.0,
 97.0,
 118.0,
 127.0,
 119.0,
 376.0,
 749.0,
 188.0,
 132.0,
 548.0,
 536.0,
 198.0,
 416.0,
 696.0,
 446.0,
 930.0,
 439.0,
 682.0,
 255.0,
 604.0,
 837.0,
 141.0,
 465.0,
 460.0,
 236.0,
 371.0,
 998.0,
 1108.0,
 368.0,
 698.0,
 195.0,
 353.0,
 300.0,
 755.0,
 324.0,
 404.0,
 367.0,
 460.0,
 607.0,
 450.0,
 668.0,
 472.0,
 435.0,
 417.0,
 691.0,
 550.0,
 305.0,
 186.0,
 372.0,
 583.0,
 1744.0,
 832.0,
 744.0,
 604.0,
 517.0,
 191.0,
 318.0,
 444.0,
 225.0,
 474.0,
 663.0,
 768.0,
 920.0,
 400.0,
 300.0,
 426.0,
 83.0,
 307.0,
 145.0,
 198.0,
 484.0,
 419.0,
 813.0,
 2408.0,
 379.0,
 310.0,
 335.0,
 366.0,
 381.0,
 396.0,
 246.0,
 312.0,
 203.0,
 517.0,
 403.0,
 516.0,
 323.0,
 177.0,
 235.0,
 179.0,
 386.0,
 566.0,
 220.0,
 320.0,
 157.0,
 217.0,
 239.0,
 280.0,
 264.0,
 263.0,
 535.0,
 869.0,
 368.0,
 309.0,
 363.0,
 1073.0,
 763.0,
 306.0,
 350.0,
 388.0,
 377.0,
 481.0,
 559.0,
 458.0,
 315.0,
 371.0,
 168.0,
 444.0,
 479.0,
 284.0,
 1110.0,
 542.0,
 185.0,
 516.0,
 471.0,
 246.0,
 289.0,
 753.0,
 581.0,
 525.0,
 436.0,
 1249.0,
 365.0,
 2885.0,
 1379.0,
 648.0,
 1554.0,
 1270.0,
 365.0,
 2045.0,
 467.0,
 570.0,
 302.0,
 480.0,
 477.0,
 531.0,
 368.0,
 350.0,
 387.0,
 366.0,
 824.0,
 622.0,
 625.0,
 282.0,
 336.0,
 1073.0,
 269.0,
 295.0,
 657.0,
 447.0,
 272.0,
 310.0,
 790.0,
 736.0,
 758.0,
 1107.0,
 618.0,
 499.0,
 1309.0,
 324.0,
 274.0,
 202.0,
 685.0,
 817.0,
 557.0,
 201.0,
 403.0,
 316.0,
 416.0,
 223.0,
 129.0,
 819.0,
 470.0,
 408.0,
 289.0,
 206.0,
 313.0,
 147.0,
 200.0,
 533.0,
 554.0,
 69.0,
 659.0,
 284.0,
 398.0,
 245.0,
 814.0,
 242.0,
 132.0,
 601.0,
 587.0,
 372.0,
 251.0,
 1047.0,
 320.0,
 394.0,
 390.0,
 268.0,
 394.0,
 383.0,
 207.0,
 153.0,
 132.0,
 253.0,
 451.0,
 339.0,
 298.0,
 1526.0,
 866.0,
 1007.0,
 557.0,
 710.0,
 178.0,
 244.0,
 292.0,
 1054.0,
 769.0,
 228.0,
 391.0,
 317.0,
 221.0,
 287.0,
 252.0,
 219.0,
 208.0,
 303.0,
 365.0,
 348.0,
 391.0,
 407.0,
 278.0,
 273.0,
 447.0,
 443.0,
 308.0,
 535.0,
 613.0,
 716.0,
 500.0,
 269.0,
 278.0,
 284.0,
 787.0,
 617.0,
 508.0,
 635.0,
 461.0,
 306.0,
 789.0,
 651.0,
 310.0,
 560.0,
 25.0,
 194.0,
 590.0,
 236.0,
 936.0,
 357.0,
 1326.0,
 1279.0,
 426.0,
 1207.0,
 370.0,
 682.0,
 168.0,
 305.0,
 353.0,
 110.0,
 538.0,
 463.0,
 348.0,
 342.0,
 503.0,
 481.0,
 413.0,
 897.0,
 428.0,
 484.0,
 253.0,
 394.0,
 389.0,
 401.0,
 445.0,
 399.0,
 340.0,
 518.0,
 533.0,
 398.0,
 249.0,
 347.0,
 534.0,
 318.0,
 681.0,
 703.0,
 247.0,
 811.0,
 655.0,
 500.0,
 313.0,
 259.0,
 318.0,
 816.0,
 671.0,
 739.0,
 409.0,
 251.0,
 419.0,
 348.0,
 610.0,
 1168.0,
 372.0,
 790.0,
 1439.0,
 393.0,
 436.0,
 191.0,
 142.0,
 464.0,
 722.0,
 192.0,
 200.0,
 115.0,
 643.0,
 225.0,
 316.0,
 652.0,
 494.0,
 311.0,
 327.0,
 76.0,
 27.0,
 2031.0,
 458.0,
 167.0,
 808.0,
 280.0,
 849.0,
 102.0,
 242.0,
 284.0,
 435.0,
 245.0,
 199.0,
 307.0,
 212.0,
 1253.0,
 440.0,
 171.0,
 127.0,
 133.0,
 1516.0,
 723.0,
 860.0,
 304.0,
 450.0,
 286.0,
 252.0,
 172.0,
 352.0,
 547.0,
 173.0,
 118.0,
 324.0,
 236.0,
 271.0,
 259.0,
 216.0,
 179.0,
 364.0,
 518.0,
 376.0,
 465.0,
 1374.0,
 356.0,
 346.0,
 293.0,
 108.0,
 274.0,
 221.0,
 309.0,
 443.0,
 711.0,
 345.0,
 522.0,
 280.0,
 295.0,
 302.0,
 638.0,
 497.0,
 474.0,
 832.0,
 276.0,
 365.0,
 551.0,
 418.0,
 251.0,
 240.0,
 544.0,
 686.0,
 338.0,
 302.0,
 1273.0,
 383.0,
 333.0,
 889.0,
 295.0,
 760.0,
 717.0,
 94.0,
 678.0,
 783.0,
 597.0,
 1031.0,
 478.0,
 717.0,
 2993.0,
 2708.0,
 1064.0,
 1407.0,
 1376.0,
 1818.0,
 311.0,
 2861.0,
 857.0,
 312.0,
 964.0,
 1492.0,
 778.0,
 532.0,
 274.0,
 485.0,
 1005.0,
 1294.0,
 993.0,
 1823.0,
 344.0,
 1247.0,
 1375.0,
 2098.0,
 748.0,
 1540.0,
 192.0,
 526.0,
 342.0,
 645.0,
 382.0,
 1207.0,
 475.0,
 529.0,
 652.0,
 496.0,
 420.0,
 387.0,
 566.0,
 703.0,
 371.0,
 715.0,
 507.0,
 415.0,
 744.0,
 495.0,
 1249.0,
 406.0,
 371.0,
 303.0,
 939.0,
 623.0,
 511.0,
 948.0,
 764.0,
 1125.0,
 741.0,
 973.0,
 3864.0,
 577.0,
 1588.0,
 676.0,
 322.0,
 744.0,
 1373.0,
 532.0,
 532.0,
 369.0,
 731.0,
 835.0,
 922.0,
 97.0,
 1068.0,
 343.0,
 672.0,
 478.0,
 264.0,
 856.0,
 437.0,
 712.0,
 673.0,
 1390.0,
 1576.0,
 716.0,
 668.0,
 637.0,
 459.0,
 845.0,
 1027.0,
 1050.0,
 209.0,
 424.0,
 555.0,
 1137.0,
 223.0,
 582.0,
 308.0,
 254.0,
 547.0,
 423.0,
 1207.0,
 270.0,
 239.0,
 624.0,
 301.0,
 471.0,
 288.0,
 273.0,
 1294.0,
 680.0,
 116.0,
 134.0,
 464.0,
 184.0,
 833.0,
 800.0,
 294.0,
 741.0,
 701.0,
 664.0,
 242.0,
 2074.0,
 40.0,
 23.0,
 1344.0,
 1510.0,
 554.0,
 306.0,
 74.0,
 352.0,
 1049.0,
 2220.0,
 81.0,
 943.0,
 639.0,
 351.0,
 711.0,
 372.0,
 498.0,
 588.0,
 1082.0,
 736.0,
 ...]

In [20]:
df.total_bedrooms.isnull().sum()

np.int64(0)

## Categoricl data

### Label Encoding

In [21]:
df.ocean_proximity.nunique()

5

In [22]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [23]:
df_encoded=pd.get_dummies(df)
df_encoded=df_encoded.astype(int)

In [24]:
df_encoded

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122,37,41,880,129,322,126,8,452600,0,0,0,1,0
1,-122,37,21,7099,1106,2401,1138,8,358500,0,0,0,1,0
2,-122,37,52,1467,190,496,177,7,352100,0,0,0,1,0
3,-122,37,52,1274,235,558,219,5,341300,0,0,0,1,0
4,-122,37,52,1627,280,565,259,3,342200,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121,39,25,1665,374,845,330,1,78100,0,1,0,0,0
20636,-121,39,18,697,150,356,114,2,77100,0,1,0,0,0
20637,-121,39,17,2254,485,1007,433,1,92300,0,1,0,0,0
20638,-121,39,18,1860,409,741,349,1,84700,0,1,0,0,0
20639,-121,39,16,2785,616,1387,530,2,89400,0,1,0,0,0

In [25]:
df_encoded=df_encoded.set_index('longitude')

In [26]:
df_encoded.corr()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
latitude,1.000000,0.008187,-0.033107,-0.061480,-0.102647,-0.066502,-0.077186,-0.134841,-0.428114,0.360703,-0.015400,0.329857,-0.175538
housing_median_age,0.008187,1.000000,-0.360628,-0.320451,-0.295787,-0.302768,-0.116570,0.106432,0.045553,-0.236968,0.017105,0.256149,0.020797
total_rooms,-0.033107,-0.360628,1.000000,0.930380,0.857281,0.918992,0.194812,0.133294,-0.003777,0.026477,-0.007603,-0.023647,-0.008674
total_bedrooms,-0.061480,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007830,0.049686,0.018314,-0.006463,-0.004361,-0.019873,0.000679
population,-0.102647,-0.295787,0.857281,0.877747,1.000000,0.907186,0.005061,-0.025300,0.073450,-0.019602,-0.010451,-0.061480,-0.023498
households,-0.066502,-0.302768,0.918992,0.979728,0.907186,1.000000,0.013005,0.064894,0.041883,-0.038265,-0.009119,-0.011280,0.002106
median_income,-0.077186,-0.116570,0.194812,-0.007830,0.005061,0.013005,1.000000,0.678604,0.167461,-0.234497,-0.009667,0.054591,0.026960
median_house_value,-0.134841,0.106432,0.133294,0.049686,-0.025300,0.064894,0.678604,1.000000,0.257614,-0.484787,0.023525,0.160526,0.140378
ocean_proximity_<1H OCEAN,-0.428114,0.045553,-0.003777,0.018314,0.073450,0.041883,0.167461,0.257614,1.000000,-0.607778,-0.013928,-0.314721,-0.342018
ocean_proximity_INLAND,0.360703,-0.236968,0.026477,-0.006463,-0.019602,-0.038265,-0.234497,-0.484787,-0.607778,1.000000,-0.010681,-0.241356,-0.262289
ocean_proximity_ISLAND,-0.015400,0.017105,-0.007603,-0.004361,-0.010451,-0.009119,-0.009667,0.023525,-0.013928,-0.010681,1.000000,-0.005531,-0.006011
ocean_proximity_NEAR BAY,0.329857,0.256149,-0.023647,-0.019873,-0.061480,-0.011280,0.054591,0.160526,-0.314721,-0.241356,-0.005531,1.000000,-0.135819
ocean_proximity_NEAR OCEAN,-0.175538,0.020797,-0.008674,0.000679,-0.023498,0.002106,0.026960,0.140378,-0.342018,-0.262289,-0.006011,-0.135819,1.000000

In [27]:
df_encoded

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
longitude,,,,,,,,,,,,,
-122,37,41,880,129,322,126,8,452600,0,0,0,1,0
-122,37,21,7099,1106,2401,1138,8,358500,0,0,0,1,0
-122,37,52,1467,190,496,177,7,352100,0,0,0,1,0
-122,37,52,1274,235,558,219,5,341300,0,0,0,1,0
-122,37,52,1627,280,565,259,3,342200,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
-121,39,25,1665,374,845,330,1,78100,0,1,0,0,0
-121,39,18,697,150,356,114,2,77100,0,1,0,0,0
-121,39,17,2254,485,1007,433,1,92300,0,1,0,0,0
-121,39,18,1860,409,741,349,1,84700,0,1,0,0,0
-121,39,16,2785,616,1387,530,2,89400,0,1,0,0,0

In [29]:
df_encoded.to_csv('../data/processed/clean_data.csv')